__pycache__

flydata*
octopamineExperiments*
experiments*
prism/data
training-datasets
hours
snapshot*
checkpoint*
log*
DeepCut_resnet50_*
DeepCut_resnet101*_
*~
*.pyc
*.npy
*.h5
*.mpeg
*.swp
*.tar.gz
*.tar.*
*.mp4
